body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav ul li:hover .dropdown {
    display: block;
  }
  
  .dropdown li {
    margin: 0;
  }
  
  .dropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
  }
  
  footer {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  